@font-face {
  font-family: "Open Sans Regular";
  src: url("../public/assets/OpenSans-Regular.ttf");
}
@font-face {
  font-family: "Almendra";
  src: url("../public/assets/AlmendraDisplay-Regular.ttf");
}
@font-face {
  font-family: "Playfair Medium Italic";
  src: url("../public/assets/PlayfairDisplay-MediumItalic.ttf");
}
@font-face {
  font-family: "Playfair Regular";
  src: url("../public/assets/PlayfairDisplay-Regular.ttf");
}

:root {
  /* --primary-color: rgb(81, 0, 255); */
  --primary-color: rgb(255, 205, 104);
  --secondary-color: antiquewhite;
}

* {
  margin: 0;
  /* background-color: black; */
}
body {
  font-family: "Open Sans Regular";
}

#canvas-container {
  inset: 0;
  position: absolute;
  width: 10vw;
  height: 10vh;
  z-index: 100;
}
#canvas-container2 {
  /* inset: 0; */
  position: absolute;
  left: 50rem;
  width: 30%;
  height: 40%;
  z-index: 100;
}

.moon-focus-view {
  position: fixed;
  /* top: 0; */
  bottom: 20px;
  /* left: 100px; */
  width: 330px;
  height: 330px;
  margin: 20px;
  margin-bottom: 50px;

  /* aligning to popup view */
  left: 50%;
  transform: translate(-330px, 0);

  z-index: 200;

  border: 2px solid var(--primary-color);
  border-radius: 10px;
}

@media (max-width: 1000px) {
  .moon-focus-view {
    width: 200px;
    height: 200px;
    bottom: 10px;
    margin: 0;
    margin-bottom: 30px;

    padding: 0;
    left: 50%;
    transform: translateX(-345px);
    /* aligning to popup view */
    /* right: 0;
    left: auto;
    top: 0;
    transform: translate(0, 0); */
  }
}

@media (max-height: 800px) {
  .moon-focus-view {
    width: 200px;
    height: 200px;
    bottom: 40px;
    margin: 0;
    padding: 0;
    left: 50%;
    transform: translateX(-345px);

    /* aligning to popup view */
    /* right: 0;
    left: auto;
    top: 0;
    transform: translate(0, 0); */
  }
}
@media (max-width: 700px) {
  .moon-focus-view {
    width: 260px;
    height: 260px;
    bottom: 10px;
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
    left: 50%;
    transform: translateX(-253px);
  }
}

@media (max-width: 500px) {
  .moon-focus-view {
    display: none;
  }
}
@media (max-height: 450px) {
  .moon-focus-view {
    display: none;
  }
}
