@font-face {
  font-family: "Open Sans Regular";
  src: url("../public/assets/OpenSans-Regular.ttf");
}

@font-face {
  font-family: "Playfair Medium Italic";
  src: url("../public/assets/PlayfairDisplay-MediumItalic.ttf");
}

:root {
  /* --primary-color: rgb(81, 0, 255); */
  --primary-color: rgb(255, 205, 104);
  --secondary-color: antiquewhite;
}

* {
  margin: 0;
  /* background-color: black; */
}
body {
  font-family: "Open Sans Regular";
}

#canvas-container {
  inset: 0;
  position: absolute;
  width: 10vw;
  height: 10vh;
  z-index: 100;
}
#canvas-container2 {
  /* inset: 0; */
  position: absolute;
  left: 50rem;
  width: 30%;
  height: 40%;
  z-index: 100;
}

.moon-focus-view {
  width: 330px;
  height: 330px;
  /* position: fixed;
  bottom: 20px;
  
  margin: 20px;
  margin-bottom: 50px; */

  /* aligning to popup view */
  /* left: 50%;
  transform: translate(-367px, 0);

  z-index: 200; */

  /* border: 2px solid var(--primary-color);
  border-radius: 10px; */
}

.overlay {
  min-width: 700px;

  position: fixed;
  left: 10px;
  right: 10px;
  bottom: 10px;
  z-index: 200;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--primary-color);
  border-radius: 10px;
}

.popup {
  max-width: 400px;
  font-size: 1rem;
  background-color: rgb(0, 0, 0);
  color: var(--secondary-color);
  z-index: 300;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
